<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 mt-4">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook fa-lg text-black-50 mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter fa-lg text-black-50 mr-md-5 mr-3 fa-2x"> </i>
          </a>          
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google-plus fa-lg text-black-50 mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
          <h2 class="text-black-50 mt-1">#thishashtag</h2>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3 blue-grey lighten-4">&copy; 2018 - 
    <a href="www.jennyandrob.wedding" class="linka"> jennyandrob.wedding</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->