<app-header bgimg="bg-home"></app-header>
<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1 class="title">Ciao!</h1>
        <p align="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-2"></div>
      <div class="col-md-3"><hr></div>
      <div class="col-md-2"><i class="fas fa-heart iconm"></i></div>
      <div class="col-md-3"><hr></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row pt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>32 August 2019, Tuscany (Italy)</h1>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row pb-5">
      <div class="col-md-2"></div>
      <div class="col-md-8">

        <my-app inputDate="August 15, 2019 12:00:00">Loading...</my-app>
        
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-2"></div>
      <div class="col-md-3"><hr></div>
      <div class="col-md-2"><i class="fas fa-heart iconm"></i></div>
      <div class="col-md-3"><hr></div>
      <div class="col-md-2"></div>
    </div>

    <app-rsvp-form></app-rsvp-form>
        
  </div>

</main>
<!--Main Layout-->